KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=
 
KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/inline.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/isrs.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/isrASM.o \
$(ARCHDIR)/irqASM.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/pit.o \
$(ARCHDIR)/bootdata.o \
$(ARCHDIR)/tss.o \
$(ARCHDIR)/drivers/keyboard.o \
$(ARCHDIR)/fonts/base_vga.o \
$(ARCHDIR)/drivers/fb_terminal.o \
$(ARCHDIR)/drivers/kterminal.o \
$(ARCHDIR)/drivers/pci.o \
$(ARCHDIR)/drivers/ata.o \
$(ARCHDIR)/filesystems/fat.o \
$(ARCHDIR)/filesystems/devicefs.o \
$(ARCHDIR)/memmapping/paging.o \
$(ARCHDIR)/memmapping/pagingASM.o \
$(ARCHDIR)/syscalls/syscall.o \
$(ARCHDIR)/syscalls/sysfile.o \
$(ARCHDIR)/syscalls/sysui.o \
$(ARCHDIR)/syscalls/syshandler.o \
$(ARCHDIR)/syscalls/sysmem.o \
$(ARCHDIR)/device/tty.o \
$(ARCHDIR)/multitasking/multitasking_asm.o \
$(ARCHDIR)/multitasking/multitasking.o \
